.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.45em;
  position: relative;

  &__emoji-picker {
    .emoji-mart {
      position: absolute;
      bottom: 4em;
      z-index: 1;
    }
  }

  &__smile-btn {
    background-color: #fff;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin-left: 1em;
    }

    &-upload-btn {
      ::-webkit-file-upload-button {
        cursor: pointer;
      }

      &:hover {
        cursor: pointer !important;

        input, span, svg {
          cursor: pointer !important;
        }

        button.ant-btn-link {
          opacity: 1;
        }
      }
    }
  }

  input {
    height: 40px !important;
    color: black;
    &:focus {
      box-shadow: none;
    }
  }
}