@import '~antd/dist/antd.css';

@import "layouts/chat";

body, html, #root, .wrapper {
  height: 100vh;
  color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #cee0e2;
}

* {
  margin: 0;
  outline: none;
}
