@import "../../styles/variables";

.dialogs {
  width: 300px;
  height: 100%;
  overflow: auto;

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    $item: &;
    padding: 0.8em 1.45em;
    margin-bottom: 0;
    display: flex;
    cursor: pointer;

    &:hover {
      background-color: #ebf0f2;
    }

    &--selected, &--selected:hover {
      background-color: #e4ebee;
    }

    &-avatar {
      position: relative;
      margin-right: 0.8em;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &--online {
      #{$item}-avatar {
        &::before {
          display: block;
          position: absolute;
          bottom: -2px;
          right: 0;
          content: '';
          background-color: $green;
          border-radius: 50%;
          width: 13px;
          height: 13px;
          border: 3px solid #fff;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      &-top {
        display: flex;

        b {
          font-weight: 500;
          flex: 1;
          align-items: center;
          margin-bottom: 0.1em;
        }

        span {
          opacity: 0.4;
        }
      }

      &-bottom {
        position: relative;

        p {
          opacity: 0.5;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 220px;
          white-space: nowrap;
        }

        &-count {
          position: absolute;
          background: #f46b6b;
          color: #fff;
          right: 0;
          bottom: 0;
          font-weight: bold;
          font-size: 11px;
          text-align: center;
          line-height: 17px;
          width: 100%;
          min-width: 18px;
          max-width: 25px;
          height: 18px;
          border-radius: 30px;
        }

        .message__icon--readed {
          bottom: 0;
          left: auto;
          right: 0;
        }
      }
    }
  }
}