@import "../../styles/variables";

.message {
  $self: &;
  display: flex;
  margin-bottom: 1.5em;

  &__content {
    max-width: 400px;
    display: flex;
    position: relative;
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;

    .avatar {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 1.2em;
      margin-bottom: 0.8em;
      font-size: 14px;
    }
  }

  &__bubble {
    background-color: $blue;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.2);
    border-radius: 12px 12px 12px 0;
    padding: 1em;
    margin-bottom: 0.5em;
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &__attachments {
    display: flex;

    &-item {
      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
        margin-right: 0.4em;
        margin-bottom: 0.5em;
        cursor: pointer;
      }
    }
  }

  &__icon {
    &--readed {

      position: absolute;
      bottom: 1.5em;
      left: -1.5em;

      &--no {
        left: -1.2em;
      }
    }
  }

  &--is-audio {
    #{$self}__bubble {
      position: relative;
      width: 280px;
      overflow: hidden;
    }

    #{$self}__audio {
      audio {
        display: none;
      }

      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

      &-btn {
        button {
          cursor: pointer;
          border: 0;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: #0f3997;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 14px;
          }
        }
      }

      &-duration {
        color: #fff;
        font-weight: 500;
        opacity: 0.5;
        font-size: 12px;
      }

      &-progress {
        left: 0;
        top: 0;
        height: 100%;
        position: absolute;
        background-color: #418fff;
        transition: width 0.2s ease;
      }
    }
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      flex-direction: row-reverse;
    }

    #{$self}__avatar {
      margin-right: 0;
      margin-left: 1.2em;
    }

    #{$self}__content {
      flex-direction: row-reverse;
    }

    #{$self}__info {
      text-align: right;
    }

    #{$self}__bubble {
      background-color: #fff;
      border: 1px solid #ececec;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      border-radius: 12px 12px 0 12px;

      #{$self}__text {
        color: $black;
      }
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background-color: $message-typing-blue;
      box-shadow: 0 5px 5px rgba(54, 116, 255, 0.05);
      padding: 1em 1.5em;
    }
  }

  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $message-typing-circle;
      display: inline-block;
      margin-right: 8px;
      animation: 0.8s typingAnimation infinite ease-out 0.1s;

      &:nth-of-type(2) {
        animation: 0.8s typingAnimation infinite ease-out 0.2s;
      }

      &:nth-of-type(3) {
        animation: 0.8s typingAnimation infinite ease-out 0.3s;
        margin-right: 0;
      }
    }
  }
}

@keyframes typingAnimation {
  from {
    opacity: 0.2;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-1.5px);
  }
  to {
    opacity: 1;
    transform: translateY(-1px);
  }
}